/* -------css for deleting orignal css-------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------css by myself---------------------- */

/*-- top --*/
body {
    width: 1440px;
    height: 3452px;
}
.top {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}
/* .top img {
    margin-left: 36px;
    margin-top: 18px;
    margin-bottom: 17px;
} */
.pick {
    padding: 23px;
    align-items: center;
}
.pick ul{
    display: flex;
    justify-content:space-around;
    position: relative;
}

.pick ul li {
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.pick ul li:hover{
    margin-left: 20px;
    margin-right: 20px;
    color: #1EB893;
    font-size: 15px;
}
.pick a{
    text-decoration:none;/*不要底線*/
}


.choose {
    width: 195px;
    height: 41px;
    display: flex;
    width: 215px;
    height: 41px;
    align-items:center;
    background-color:#F5F5F5;
    border-radius: 34px;
    padding-left:20px;
    margin-top: 13px;
    margin-bottom: 14px;
    border: 3px #F0F0F0 solid;
}
.button1 {
    background-color: #F5F5F5;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 5%;
    cursor: pointer;
}

.search {
    width:150px;
    outline: none;
    border: none;
    background-color:#F5F5F5;
}

/* --------------------- slid ------------------ */
.slid {
    width: 1440px;
    height: 351px;
    padding-top: 149px;
    text-align: center;
    background-image: url(https://github.com/w0110/Web-homework/blob/main/picture/bn.png?raw=true);
    /* justify-content: center; 
    align-items: center;  */
}

.slid h1 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 8px;
}

.slid p {
    font-size: 15px;
    color: #FFFFFF;
    margin-bottom: 53px;
    
}

.choose2 {
    margin: auto;
    width: 691px;
    height: 60px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color:#FFFFFF;
    border-radius: 34px;
    padding-left:20px;
    margin-top: 13px;
    margin-bottom: 14px;
    border-width: 10px;
    border-color: gray;
    border: 6px #E7E7E7 solid;
}

.button2 {
    /* size: 30px; */
    width: 85px;
    height: 40px;
    /* background-color:#78E389; */
    background-image:  linear-gradient(120deg, #78E389, #1EB893);;
    border: none;
    text-align: center;
    /* display: inline-block; */
    font-size: 15px;
    cursor: pointer;
    /* margin-top:5px; */
    margin-right: 15px;
    border-radius: 34px;
    display:flex;
    padding-top: 10px;
    padding-left: 16px;
}
.button2 p {
    margin-left: 5px;
}
.bt {
    border-radius: 20px;
}
.search2 {
    /* width:150px; */
    width:560px;
    font-size: 16px;
    outline: none;
    border: none;
    flex-direction:row;
    display: flex;
}

/*------------------- quick click --------------------*/

.flex-city {
    display: flex;
    z-index: 2;
    position: absolute;
    left: 462px;
    top: 600px;
    /* justify-content:space-around;
    padding-left: 10px;
    padding-right: 10px;
    display: grid; */
    grid-gap: 35px;
    margin-top: 92px;
    margin-bottom: 50px;
    /* grid-template-columns: repeat(2, 108px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
}

.city-bt {
    width: 123px;
    height: 151px;
    background: #FFFFFF;
    border:none;

    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    /* height: 133px; */
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.city {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(120deg, #78E389, #1EB893);
    border-radius: 50%;
    position: relative;
    margin-bottom: 7px;

    /* float:left;
    width: 76px;
    height: 76px;
    background-color: #78E389;
    border-radius:999em;    
    text-align:center;
    display: flex;          
    align-items: center;    
    margin: auto; */
}

.city img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}

.flex-quickpick {
    background-color: #F7F7F7;
    display: flex;
    justify-content:space-around;
}

.quick-left {
    text-align:left;
    z-index: 2;
    position: absolute;
    left: 219px;
    top: 600px;

}
.quick-left h2 {
    margin-top: 127px;
    margin-bottom: 14px;
    font-size: 32px;
    font-weight: bold;
}
.quick-left p {
    font-size: 14px;
    color: #9A9A9A;
    margin-bottom: 126px;
}

.city-md-bg .deco-img {
    position: absolute;
    /* top: 50%;*/
    top: 759px;
}
.city-md-bg .gray-block {
    width: 1162px;
    height: 329px;
    border-radius: 0px 0px 136px 0px;
}
.gray-block{
    background-color: #F6F6F6;
    z-index: -1;
}
img, svg {
    vertical-align: middle;
}
/* ------------------------- bd1 ---------------------------- */
.bd1 {
    justify-content: center;
    display: flex;
}
.c{
    margin-top: 158px;
    justify-content: center;
    display: flex;
    grid-gap: 25px;
}

.cR {
    margin-left: 53px;
    margin-top: 206px;
}

.cR h2 {
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.03em;
    color: #000000;
    font-weight: bold;
    margin-bottom: 13px;
}
.cR p {
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #9A9A9A;
    margin-bottom: 27px;
}

.button3 {
    width: 137px;
    height: 45px;
    background: linear-gradient(167.01deg, #78E389 -18.85%, #1EB893 92.39%);
    border-radius: 60px;
    /* background-image:  linear-gradient(120deg, #78E389, #1EB893);; */
    border: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding-top: 12px;
}
.button3 p {
    color: #FFFFFF;
}
/* ------------------------------ bd2 -------------------- */
.c2{
    margin-top: 31px;
    justify-content: center;
    display: flex;
    grid-gap: 25px;
}

/* ------------------- food ----------------------------- */
.food {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
}
.gray-block3 {
    position: absolute;
    width: 733px;
    height: 484px;
    top: 139px;
    background: #F6F6F6;
    border-radius: 0px 242px 242px 0px;
    z-index: -10;
}
.food-block {
    display: flex;
}
.food-title {
    margin-top: 139px;
}
.food-title h3 {
    position: absolute;
    left: 102px;
    top: 250px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.03em;
    
}
.food-title p {
    position: absolute;
    left: 107px;
    top: 300px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #9A9A9A;
}
.button4 {
    position: absolute;
    left: 107px;
    top: 343px;
    width: 122px;
    height: 45px;
    background: linear-gradient(167.01deg, #78E389 -18.85%, #1EB893 92.39%);
    border-radius: 60px;
    /* background-image:  linear-gradient(120deg, #78E389, #1EB893);; */
    border: none;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    /* padding-top: 12px; */
}
/* .button4 p {
    color: #FFFFFF;
} */
.food-card-group {
    height: 335px;
    /* display: flex; */
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper {
    /* margin-left: auto;
    margin-right: auto;
    position: relative; */
    position: absolute;
    left: 361px;
    top: 200px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
.h-100 {
    height: 100% !important;
}
.food-card {
    width: 231px;
    height: 335px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
    display: flex;
}
.food-card img {
    max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    z-index: -1;
}
.card-img {
    border-bottom-right-radius: calc(0.625rem - 1px);
    border-bottom-left-radius: calc(0.625rem - 1px);
}
.food-card-left h5{
    position: relative;
    color: #FFFFFF;
    font-size: 16px;
}
.food-card-left p {
    position: relative;
    color: #E4E4E4;
    font-size: 12px;
}
.food-city-tag {
    width: 52px;
    height: 21px;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    background-color: #0E0E0E;
    border-radius: 10.5px;
}
.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(0.625rem - 1px);
    border-bottom-left-radius: calc(0.625rem - 1px);
}













/*----------------------- foot -----------------------*/
.gray-block2 {
    position: absolute;
    width: 1440px;
    height: 728px;
    top: 2900px;
    background: #F3F3F3;
    z-index: -3;
    border-radius: 50%;
}
.flex-foot {
    position: absolute;
    top: 3218px;
    width: 1440px;
    flex-direction: column;
}

.foot_head {
    flex-direction : column;
    background-color: #333333;
    padding-top: 58px;
    text-align: center;
    padding-bottom: 59px;
}
.foot_head img {
    padding-bottom: 29px;
}
.foot_head ul li{
    display:inline;
    color:#B2B2B2;
    flex-direction:row;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}
.foot_head ul li:hover{
    color: #1EB893;
    font-size: 15px;
}
.foot_head a{
    text-decoration:none;/*不要底線*/
}

.foot_end {
    text-align: center;
    background-color: #1F1F1F;
    color: #868686;
    padding-top: 3px;
    padding-bottom: 6px;
    font-size: 12px;
}

/* test-------------------------------------------- */
.deco2-img {
    position: absolute;
    top: 1620px;
    left: 1192px;
    z-index: -3;
}

.card {
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
}
.card-body {
    flex:1 1 auto;
    padding:1rem 1rem
}
.card-title {
    margin-bottom:.5rem
}
.card-subtitle {
    margin-top:-.25rem;
    margin-bottom:0
}
.card-link:hover {
    text-decoration:none
}
.card-link+.card-link {
    margin-left:1rem
}
.card-header {
    padding:.5rem 1rem;
    margin-bottom:0;
    background-color:rgba(0,0,0,.03);
    border-bottom:1px solid rgba(0,0,0,.125)
}
.card-header:first-child {
    border-radius:calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}
.card-footer {
    padding:.5rem 1rem;
    background-color:rgba(0,0,0,.03);
    border-top:1px solid rgba(0,0,0,.125)
}
.card-footer:last-child {
    border-radius:0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}
.card-header-tabs {
    margin-right:-.5rem;
    margin-bottom:-.5rem;
    margin-left:-.5rem;
    border-bottom:0
}
.card-header-pills {
    margin-right:-.5rem;
    margin-left:-.5rem
}
.card-img-overlay {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    padding:1rem;
    border-radius:calc(.25rem - 1px)
}
.card-img,.card-img-bottom,.card-img-top {
    width:100%
}
.card-img,.card-img-top {
    border-top-left-radius:calc(.25rem - 1px);
    border-top-right-radius:calc(.25rem - 1px)
}
.card-img,.card-img-bottom {
    border-bottom-right-radius:calc(.25rem - 1px);
    border-bottom-left-radius:calc(.25rem - 1px)
}
.accordion-button {
    position:relative;
    display:flex;
    align-items:center;
    width:100%;
    padding:1rem 1.25rem;
    font-size:1rem;
    color:#212529;
    text-align:left;
    background-color:#fff;
    border:0;
    border-radius:0;
    overflow-anchor:none;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease
}